on:
  schedule:
    - cron: '0 7 * * *' # 每天早上7点执行
  workflow_dispatch:

name: Schedule Update

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: main
          persist-credentials: false
          fetch-depth: 0
          lfs: true
      
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        
      - name: Set node version to 16
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: 'pnpm'
          
      - run: pnpm install
      
      - name: Run script
        run: pnpm run update
        
      - run: |
          git config --global user.email ${{ secrets.ACTION_EMAIL }}
          git config --global user.name ${{ secrets.ACTION_NAME }}
          git status
          git add data/cache.json
          git commit -m "chore: update cache file"
        
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
